* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eef2f7;
}

#flex-container {
  padding: 0 20px;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 80vh;
  -webkit-box-shadow: 0 10px 6px -6px #1f2025;
  -moz-box-shadow: 0 10px 6px -6px #1f2025;
  box-shadow: 0 10px 6px -6px #1f2025;
}

.flex-left {
  display: flex;
  width: 100%;
  padding: 10px;
  background-image: url("images/city-img.jpg");
  background-position: cover;
  background-size: cover;
  opacity: 0.8;
}

.flex-left-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left-title h2 {
  color: #eef2f7;
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  font-family: monospace;
}

div.list1 {
  position: relative;
}

.list1 p {
  position: absolute;
  top: 95%;
  right: 300px;
  list-style-type: none;
  color: #fdfefe;
  font-size: 15px;
  font-family: monospace;
}

div.list2 {
  position: relative;
}

.list2 p {
  position: absolute;
  top: 95%;
  right: 10px;
  list-style-type: none;
  color: #fdfefe;
  font-size: 15px;
  font-family: monospace;
}

/*flex-right area*/

.flex-right {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1f2025;
}

.flex-form {
  display: flex;
  flex-direction: column;
}

.flex-form label {
  color: #eef2f7;
  font-size: 15px;
  font-family: monospace;
  text-transform: uppercase;
}

.flex-form input {
  padding: 10px;
  background-color: transparent;
  border-bottom: 2px solid #eef2f7;
  border-right: none;
  color: #eef2f7;
  margin-bottom: 25px;
  width: 250px;
  outline: none;
  font-family: monospace;
  font-size: 14px;
}

.flex-form p {
  color: #eef2f7;
  font-size: 10px;
  font-family: monospace;
}

button {
  cursor: pointer;
  font-family: monospace;
  font-size: 15px;
  border-radius: 50px;
  border: 1px solid #eef2f7;
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: #1f2025;
  color: #eef2f7;
  margin-top: 30px;
  outline: none;
  transition: all 150ms linear;
}

button:hover {
  cursor: pointer;
  font-family: monospace;
  font-size: 15px;
  border-radius: 50px;
  border: 1px solid #1f2025;
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: #eef2f7;
  color: #1f2025;
  margin-top: 30px;
  transition: all 250ms linear;
}

.container {
  margin-top: 20px;
  margin-left: 35px;
}
.checkbox {
  position: relative;
  width: 80px;
  height: 36px;
  background-color: transparent;
}
.checkbox input,
.checkbox-inner:before,
.checkbox-inner span,
.checkbox-inner label {
  position: absolute;
  top: 0;
  left: 0;
}
.checkbox input {
  opacity: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.checkbox-inner {
  position: relative;
  z-index: 1;
  width: 70%;
  height: 70%;
  border: 1px solid #f5f5f5;
  border-radius: 25px;
  overflow: hidden;
  /* transform: rotate(-12deg); */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
  transition-property: transform;
  transition-timing-function: linear;
  transition-delay: 0;
  transition-duration: 0.32s;
}
.checkbox-inner:before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: inset 0 10px 16px 0 rgba(0, 0, 0, 0.28);
}
.checkbox-inner span {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #1f2025;
  transform-origin: right;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.2, 0.585, 2, 0.875);
  transition-delay: 0.32s;
  transition-duration: 1.6s;
}
.checkbox-inner label {
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: radial-gradient(50% 88%, #f5f5f5 3%, #f5f5f5 97%);
  transition-property: left;
  transition-timing-function: cubic-bezier(1, 0.885, 2, 0.875);
  transition-delay: 0.32s;
  transition-duration: 1.32s;
}
.checkbox__Yes,
.checkbox__No {
  position: absolute;
  top: 0;
  height: 100%;
  transition: opacity 0.32s linear 0s;
}
.checkbox__Yes {
  right: 100%;
  margin-right: 12px;
  opacity: 1;
  color: #eef2f7;
  font-size: 14px;
  font-family: monospace;
}
.checkbox__No {
  left: 90%;
  /* margin-left: 16px; */
  opacity: 0.24;
  color: #eef2f7;
  font-size: 14px;
  font-family: monospace;
}
.checkbox input:checked + .checkbox-inner {
  transform: rotate(6deg);
}

.checkbox input:checked + .checkbox-inner label {
  left: calc(100% - 32px);
}

.checkbox input:checked + .checkbox-inner span {
  transform: scaleX(0);
}

.checkbox input:checked ~ .checkbox__yes {
  opacity: 0.24;
}

.checkbox input:checked ~ .checkbox__no {
  opacity: 1;
}

/*responsiveness*/

@media (max-width: 700px) {
  #flex-container {
    padding: 0;
    flex-basis: 100%;
  }

  .flex-wrapper {
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    margin-top: 0px;
  }

  .flex-wrapper .flex-left {
    width: 100%;
    height: 250px;
  }

  .flex-left .flex-left-title h2 {
    font-size: 25px;
    font-family: monospace;
  }

  .flex-wrapper .flex-right {
    width: 100%;
    padding: 20px 35px 0;
  }

  .flex-wrapper .flex-form input {
    margin-bottom: 10px;
    width: 250px;
    font-size: 12px;
    margin-bottom: 30px;
    background-color: transparent;
    border-bottom: 2px solid #eef2f7;
    border-top: none;
    border-left: none;
  }

  .flex-wrapper .flex-form label {
    font-size: 13px;
  }

  .flex-wrapper .flex-right button {
    padding: 14px;
    margin-bottom: 15px;
  }

  div.list1 {
    position: relative;
  }

  .list1 p {
    position: absolute;
    top: 225px;
    left: -80px;
    list-style-type: none;
    color: #fdfefe;
    font-size: 10px;
    font-family: monospace;
  }

  div.list2 {
    position: relative;
  }

  .list2 p {
    position: absolute;
    top: 225px;
    right: 0;
    list-style-type: none;
    color: #fdfefe;
    font-size: 10px;
    font-family: monospace;
  }
}
